.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.pnp.*
webpack.config.js
src/test/
src/**/__tests__
coverage/
*.log
.eslintrc.test.json

**/tsconfig.json
**/.eslintrc.json
**/*.map

# Include build output
!dist/**
